{% extends 'base.twig' %}

{% block nav %}{% endblock nav %}

{% block content %}
<style>
    .pugpic img {
        border: 3px black solid;
        box-shadow: 10px 10px 5px #888;
    }
    div.pugpic {
        text-align: center;
    }
</style>
<div class="pugpic">
    <h2>For Gaby:</h2>
    <a href="{{ pugpic }}"><img src="{{ pugpic }}" /></a>
    <p>this page will always show a random pug, click on the image to open the original source (if you want to share it, for example)</p>
</div>
{% endblock content %}

